.single-format-gallery {
	
	background-color: #2b2b2b;
	
	.entry-content {

		img {
			//border: solid 5px #fff;
  			margin: 1em 2.8em;
  			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  			transition: all 0.5s ease-in-out;
  			transform: scale(1);
  			padding: 0;

  			&:hover {
  				transform: scale(1.1);
  			}
		}
	}

	.comment-respond {
		border-top: 1px solid rgba(248, 249, 250, 0.19);
	}
}

.post-type-archive-gallery,
.single-format-gallery {
	background-color: #2b2b2b;

	.subscription, .footerbar, .footer {
		background: #383838;
	} 

	#comment, input {
		border-color: rgba(255, 255, 255, 0);
  		background: rgba(255, 255, 255, 0.298039);
	}

	.bread-crumb, .subscription {
		display: none;
	}
}


.single-format-video {
	background-color: #2b2b2b;

	.comment-respond {
		border-top: 1px solid rgba(248, 249, 250, 0.19);
	}
}

.video-post {
	float: none;
	margin: 0 auto;

	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.goBack {
	font-size: 3em;
  	margin: 1.8em 0 -1.8em;
}

.goBlink {
  	margin: 6em 2em;
  	position: absolute;
}

.gallery {

	dl {
		float: left;
	}
}

.gallery-archive {
	text-align: center;
	padding: 2em 0;

}

.gallery-item {
	transition: all .5s ease;
}

.covercontent {
	display: block;
	top: 0;
	bottom: 0;
	z-index: 10;
	left: -10px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&:hover {
		background: rgba(240, 248, 255, 0.1);
	}
}

.post-type-archive-history {
	background: #fdf6e3;

	#main {
		position: relative;
	}

	.entry-content p {
		font-size: 15px;
	}

	.type-history:nth-child(1) {
		margin-top: 0;
	}

	.type-history:nth-child(odd) {
		float: right;
		margin-top: 10em;

		.post-img {
			float: left;
			margin: 0% -131px;

			span {
				margin: -20px -10px;
  				font-size: 3em;
			}
		}
	}

	.type-history:nth-child(even) {
		float: left;
		clear: both;

		.post-img {
			float: right;
			margin: 0% -142px;

			span {
				margin: -20px 10px;
  				font-size: 3em;
			}
		}
	}

	.fixlocal {
		width: 25px;
		height: 25px;
		background: $red;
		border-radius: 50%;
		position: fixed;
		top: 50%;
		left: 50.57%;
		margin-left: -20px;
	}

	.history-line {
		position: absolute;
  		height: 100%;
  		width: 2px;
  		background: $red;
  		z-index: 0;
  		left: 50%;
	}

	.date-card {
		position: relative;
  		font-size: 1.5em;
  		text-align: center;
  		padding-top: 20px;
	}
}

.img-round {
	display: block;
  	overflow: hidden;
  	width: 200px;
  	height: 200px;
  	position: relative;
  	margin: 2em auto;

	img {
		border-radius: 50%;
	}
}

.round-test {
	display: block;
  	position: absolute;
  	top: 80%;
  	left: 0;
  	bottom: 0;
  	background-color: transparent; 
  	width: 100%;
  	height: 100%;
  	padding-top: 5.5em;
  	transition: all 0.4s ease-in-out;

  	a {
  		height: 100%;
  		width: 100%;
  		display: block;
  		position: absolute;
  		top: 0;

  		h1 {
  			line-height: 1.5em;
  			transition: all 0.4s ease-in-out;
  		}
  	}
}

.h-img-round img {
	width: 150px;
  	height: 150px;
  	transition: all 0.4s ease-in-out;

  	&:hover {
  		width: 200px;
  		height: 200px;
  		border-radius: 0;
  	}
}

.img-round {
	&:hover {
		img {
			width: 200px; 
			height: 200px; 
			border-radius: 0;
		}
		.round-test {
			top: 0; 
			background-color: rgba(0, 0, 0, 0.47);

			a {
				h1 {line-height: 7.5em; color: #fff;}
			}
		}
	}
}

article img {
	max-width: 100%;
}